/* Variables */
:root {
    --clr-active: hsl(172, 67%, 45%);
    --clr-light: hsl(185, 41%, 84%);
    --clr-white: hsl(0, 0%, 100%);
    --text-faded: hsl(186, 14%, 43%);
    --header: 20vh;
}


body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--clr-light);
}

/* Header */
header {
    background-color: var(--clr-light);
    height: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 1.25;
    color: var(--text-faded);
}

/* Containers */
.main-container {
    height: calc(100vh - var(--header));
    width: 100%;
    background-color: var(--clr-white);
    border-top-left-radius: 7.5vw;
    border-top-right-radius: 7.5vw;
}

.tip-container {
    height: 60%;
    width: 100%;
    border: 1px black solid;
    text-align: center;
}
.calculation-container {
    height: 40%;
    width: 100%;
    border: 1px grey dashed;

}

/* Bill */
#pound {
    position: fixed;
    z-index: 2;
    left: 10%;
}

/* Inputs */
.input {
    width: 80%;
    /* height:  */
    margin: 0 auto;
}