/* Variables */
:root {
    --clr-active: hsl(172, 67%, 45%);
    --clr-light: hsl(185, 41%, 84%);
    --clr-white: hsl(0, 0%, 100%);
    --text-faded: hsl(186, 14%, 43%);
    --text-dark:  hsl(183, 100%, 15%);
    --input: hsl(189, 41%, 97%);
    --header: 20vh;
}


body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--clr-light);
}

/* Header */
header {
    background-color: var(--clr-light);
    height: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    line-height: 1.25;
    color: var(--text-faded);
}

/* Containers */
.main-container {
    height: calc(100vh - var(--header));
    width: 100%;
    background-color: var(--clr-white);
    border-top-left-radius: 7.5vw;
    border-top-right-radius: 7.5vw;
}

.tip-container {
    height: 60%;
    width: 100%;
    border: 1px black solid;
    text-align: center;
}

.calculation-container {
    height: 40%;
    width: 100%;
    border: 1px grey dashed;

}

/* Sub Headers */
.sub-header {
    text-align: left;
    font-size: 1rem;
    color: var(--text-faded);
    margin: 10% 0 2% 10%;
    text-transform: uppercase;
}

/* Bill */
#pound {
    position: fixed;
    z-index: 2;
    left: 15%;
    margin-top: 0%;
    color: var(--text-faded);

}

/* Inputs */
.input {
    width: 80%;
    height: 15%;
    margin: 0 auto;
    background-color: var(--input);
    color: var(--text-dark);
    border-radius: 3%;
    border: none;
    transition: background-color 100ms ease-in-out;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    letter-spacing: 0.24rem;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus,
textarea:focus {
    background-color: var(--clr-light);
    outline: none;
}

